name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - uses: oven-sh/setup-bun@v2
        name: Install bun

      - name: Install dependencies
        run: bun install
      - run: bun lint
      - run: bun type-check
      - run: bun run build
